.statement{
    font-size: 26px;
    color: #7B8C3E;
    font-style: bold;
    width:90%;
    text-align: center;


}
.container.for-about{
    font-size: 64px;
    color: #7B8C3E;
    font-style: bold;
    width:90%;
    text-align: center;
padding-top: 200px;

}


.jumbotron{
    height:613px;
    background-image: url("Rectangle 4.png")  !important;
    background-size: cover;
    width:100%;
    background-repeat: no-repeat;

}



body{
    font-family: 'Zen Old Mincho', serif;
    font-family: 'Noto Serif TC', serif;
}

p {
    white-space: pre-wrap;
}

.footer-text{
    color: #F2E6D0;
    font-family: Zen Old Mincho;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.footer:hover {
    background-color: yellow;
  }

.footer-text-title{
    color: #F2E6D0;
    font-family: Zen Old Mincho;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-style: solid;
    text-decoration-color: #F2E6D0;
    text-decoration-thickness: 3px;
    padding-bottom: 10px;
}

.footer-background{
  --bs-bg-opacity: 1;
  background-color: #344618 !important;
  
}